header {
    background-color: rgb(244, 244, 244);
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.logo {
    display: block;
    width: 14.5rem;
    height: 1.8rem;
    pointer-events: auto;
    padding-top: 20px;
}
