.filter-container {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    gap: 20px;
    background-color: rgb(244, 244, 244);
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.carousel-container {
    padding: 20px;
    margin: 0 15rem;
    overflow: hidden;
}

@media (max-width: 1024px) {
    .carousel-container {
        margin: 0 2rem;
    }
}

@media (max-width: 768px) {
    .carousel-container {
        margin: 0 0.5rem;
    }
    .filter-container{
        flex-direction: column;
        padding: 20px;
    }
}

.swiper-slide .slide-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-slide .slide-content img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 0.75rem;
}

.swiper-slide .slide-title {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
}

.swiper-slide .slide-discount {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 5px;
}


.swiper-button-next, .swiper-button-prev {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.swiper-pagination-bullet {
    background-color: white !important;
    opacity: 0.7; /* Make bullets slightly transparent */
    width: 8px; /* Increase bullet width */
    height: 8px; /* Increase bullet height */
    border: 1px solid #6d6d6d; /* Optional: add a white border */
}

.swiper-pagination-bullet-active {
    opacity: 1; /* Make the active bullet fully opaque */
    border: 2px solid #6d6d6d; /* Optional: make the active bullet's border thicker or a different color */
}


.no-result {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    color: rgb(146, 146, 146);
}
